[DEFAULT]
beam.home: C:/Programme/beam/beam-4.9-SNAPSHOT
targetdir: targetProducts
targetdir.clear: true
timeout: 10

[COMMANDS]
testrr: %(beam.home)s/bin/gpt.bat testcase.xml ${OPTIONS} -t %(targetDir)s/output -Ssource=sourceProducts/MER_RR__1PQACR20040526_091235_000026432027_00122_11699_0000.N1
testfr: %(beam.home)s/bin/gpt.bat testcase.xml ${OPTIONS} -t %(targetDir)s/output -Ssource=sourceProducts/MER_FR__1PQACR20040526_091235_000026432027_00122_11699_0000.N1

[OPTIONS]
tilecachesize: -c 512M, -c 128M,
cleartilerow: -x,
outputformat: -f BEAM-DIMAP, -f GEOTIFF, -f HDF5, 

