[DEFAULT]
beam.home: C:/Programme/beam/beam-4.9-SNAPSHOT
targetdir: targetProducts
targetdir.clear: true

# The timeout in minutes. -1 means no timeout
timeout: -1


[COMMANDS]
command: %(beam.home)s/bin/gpt.bat testcase.xml -c ${tilecache}M ${cleartilerow} -f ${outputformat} -t %(targetdir)s/output -Ssource=${sourceproduct}

[OPTIONS]
tilecache: -c 512M, -c 128M
cleartilerow: -x, 
outputformat: BEAM-DIMAP, GEOTIFF, HDF5
sourceproduct: sourceProducts/MER_RR__1PQBCM20040526_092728_000003972027_00122_11699_0151.N1#2530097
