[DEFAULT]
beam.home: C:\Program Files (x86)\beam-4.9-SNAPSHOT
targetdir: C:\dev\Ressourcen\EOData\operatortests\ICOL\
targetdir.clear: true

# The timeout in minutes. -1 means no timeout
timeout: -1


[COMMANDS]
command: %(beam.home)s/bin/gpt.bat testcase.xml -c ${tilecache}M ${cleartilerow} -f ${outputformat} -t %(targetdir)s/output -SsourceProduct=${sourceproduct}

[OPTIONS]
tilecache: 2048
cleartilerow: -x, 
outputformat: BEAM-DIMAP
sourceproduct: C:/dev/Ressourcen/EOData/MERIS/subsets/MER_RR__1PNBCM20091011_085900_000000542083_00179_39812_0000.dim#341905
